<div style="padding-top: 60px"/>

<div style="padding-bottom: 0%">
    <ul class="list list-chats">
        <li class="list-chat right" data-ix="list-item">
            <div class="w-clearfix column-right chat right">
                <div class="arrow-globe right"></div>
                <div class="chat-text right">Yes, they are and they are
                    <br>really easy to use as well.</div>
                <div class="chat-time right">50 sec ago</div>
            </div>
        </li>
        <li class="list-chat right" data-ix="list-item">
            <div class="w-clearfix column-right chat right">
                <div class="arrow-globe right"></div>
                <div class="chat-text right">These speech bubbles are
                    <br> awesome!
                </div>
                <div class="chat-time right">3 min ago</div>
            </div>
        </li>
        <li class="list-chat right" data-ix="list-item">
            <div class="w-clearfix column-right chat right">
                <div class="arrow-globe right"></div>
                <div class="chat-text right">Yes, they are and they are
                    <br>really easy to use as well.</div>
                <div class="chat-time right">50 sec ago</div>
            </div>
        </li>
        <li class="list-chat right" data-ix="list-item">
            <div class="w-clearfix column-right chat right">
                <div class="arrow-globe right"></div>
                <div class="chat-text right">These speech bubbles are
                    <br> awesome!
                </div>
                <div class="chat-time right">3 min ago</div>
            </div>
        </li>
        <li class="w-clearfix list-chat" data-ix="list-item">
            <div class="column-left chat">
                <div class="image-message chat"><img src="images/placeholder.png">
                </div>
            </div>
            <div class="w-clearfix column-right chat">
                <div class="arrow-globe"></div>
                <div class="chat-text">I know, right? And so is this template...</div>
                <div class="chat-time">1 min ago</div>
            </div>
        </li>
        <li class="list-chat right" data-ix="list-item">
            <div class="w-clearfix column-right chat right">
                <div class="arrow-globe right"></div>
                <div class="chat-text right">Yes, they are and they are
                    <br>really easy to use as well.</div>
                <div class="chat-time right">50 sec ago</div>
            </div>
        </li>
        <li class="w-clearfix list-chat" data-ix="list-item">
            <div class="column-left chat">
                <div class="image-message chat"><img src="images/placeholder.png">
                </div>
            </div>
            <div class="w-clearfix column-right chat">
                <div class="arrow-globe"></div>
                <div class="chat-text">Yeah, it’s awesome.</div>
                <div class="chat-time">30 sec ago</div>
            </div>
        </li>
        <li class="list-chat right" data-ix="list-item">
            <div class="w-clearfix column-right chat right">
                <div class="arrow-globe right"></div>
                <div class="chat-text right">Great design</div>
                <div class="chat-time right">20 sec ago</div>
            </div>
        </li>
        <li class="list-chat right" data-ix="list-item">
            <div class="w-clearfix column-right chat right">
                <div class="arrow-globe right"></div>
                <div class="chat-text right">I bet it has a clean code as well!...</div>
                <div class="chat-time right">15 sec ago</div>
            </div>
        </li>
        <li class="w-clearfix list-chat" data-ix="list-item">
            <div class="column-left chat">
                <div class="image-message chat"><img src="images/placeholder.png">
                </div>
            </div>
            <div class="w-clearfix column-right chat">
                <div class="arrow-globe"></div>
                <div class="chat-text">I'm pretty sure it does. I heard customer support is great!</div>
                <div class="chat-time">7 sec ago</div>
            </div>
        </li>
        <li class="list-chat right" data-ix="list-item">
            <div class="w-clearfix column-right chat right">
                <div class="arrow-globe right"></div>
                <div class="chat-text right">Awesome!</div>
                <div class="chat-time right">just now</div>
            </div>
        </li>
        <div ng-repeat="chat in chats">
            <li ng-show= chat.response class="w-clearfix list-chat" data-ix="list-item">
                <div class="column-left chat">
                    <div class="image-message chat"><img src="images/placeholder.png">
                    </div>
                </div>
                <div class="w-clearfix column-right chat">
                    <div class="arrow-globe"></div>
                    <div class="chat-text">{{chat.text}}</div>
                    <div class="chat-time">7 sec ago</div>
                </div>
            </li>
            <li ng-hide= chat.response class="list-chat right" data-ix="list-item">
                <div class="w-clearfix column-right chat right">
                    <div class="arrow-globe right"></div>
                    <div class="chat-text right">{{chat.text}}</div>
                    <div class="chat-time right">just now</div>
                </div>
            </li>
        </div>
    </ul>
</div>
    <div id="scrollArea">

    </div>
<div  class="input-chat-block">
    <div class="w-form">
        <form method="post" ng-submit="sendMessage()" class="w-clearfix" id="wf-form-Send" name="wf-form-Send">
            <input ng-model="msg" class="w-input input-chat" id="chat-message" type="text" placeholder="Your message" name="email" data-name="Email" required="required">
            <input class="w-button chat-button" type="submit" value="Send">
        </form>
        <div class="w-form-done">
            <p>Thank you! Your submission has been received!</p>
        </div>
        <div class="w-form-fail">
            <p>Oops! Something went wrong while submitting the form</p>
        </div>
    </div>
</div>
